.nav{
    font-family: Arial, Helvetica, sans-serif;
    width: 37%;
}
.nav__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}
.nav__link{
    color: var(--colorPrimaryDark);
    text-decoration: none;
    letter-spacing: 0.5em;
    line-height: 1.6em;
    font-size: 15px;
}
.list__item--active{
    color: var(--colorPrimaryLight);
    border-bottom: 3px solid var(--colorPrimary);
}
.nav__list-item {
    letter-spacing: 0;
}
.nav__link:hover{
    color: var(--colorWhite);
    cursor: pointer;
    border-bottom: 3px solid var(--colorPrimary)
}
.burger__list{
    background-color: #292929;
    margin-left: calc((100% - 320px) / 2);
    width: 320px;
    text-align: center;
    height: 100vh;
    padding-top: 248px;
    font-size: 32px;
    display: none;
}
.burger{
    display: none;
    z-index: 2;
    background: none;
    border: none;
}
.burger__list-wrapper{
    width: 100vw;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.6);
    height: 100vh;
    z-index: 1;
    left: 100vw;
    transform: rotate(0deg);
    transition: left 2s;
    display: none;
}
.burger__link{
    text-decoration: none;
    color: var(--colorPrimaryDark);
    font-size: 32px;
    line-height: 1.6em;
    margin-bottom: 43px;
}
.burger__list-item{
    margin-bottom: 43px;
}
.burger__link--active{
    color: var(--colorPrimaryLight);
}
.show{
    display: block;
    left: 0;
}
.rotate{
    transform: rotate(90deg);
    transition: 2s;
}
